<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-family: 'Roboto Mono', monospace;">Characters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-card>
    <img id="lucas" src="assets/icon/lucas.jpg" width="250"/>
    <ion-card-header>
      <ion-card-title>Lucas Tønnesen</ion-card-title>
      <ion-card-subtitle>Actor Dánes</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Nacio en 13 de julio de 2000 (22 años) Copenhague (Dinamarca) es un actor danés. En 2018 tuvo un papel principal en la serie The Rain de Netflix,
      interpretando el personaje de Rasmus.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img id="alba" src="assets/icon/alba.jpg" width="250"/>
    <ion-card-header>
      <ion-card-title>Alba August</ion-card-title>
      <ion-card-subtitle>Actriz Sueco-Danesa</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Nacio en 6 de junio de 1993 (29 años) Copenhague (Dinamarca) es una actriz sueco-danesa. En el 2017 se unió al elenco de la serie danesa de Netflix The Rain.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img id="lucas" src="assets/icon/mikkel.jpg" width="250"/>
    <ion-card-header>
      <ion-card-title>Mikkel Følsgaard</ion-card-title>
      <ion-card-subtitle>Actor Dánes</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Nacio en 1 de mayo de 1984 (38 años) Copenhague (Dinamarca) es un actor danés.Su interpretación del rey Cristián le valió el 
      premio Oso de Plata al mejor actor en el Festival Internacional de Cine de Berlín 2012.
    </ion-card-content>
  </ion-card>
</ion-content>