<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Main Reason</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Main Reason</ion-card-title>
      <ion-card-subtitle>Explicaction for why I chose this tv series </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      "The main reason for why I chose this Tv Series is beacause it caught me my attetion, that's it, plus I've always like those kind of 
      Tv Series such as Thriller something like that since when i was young, However, this Tv Series teaches us to how much we need to
      take care of your family well i mean siblings"
    </ion-card-content>
  </ion-card>
</ion-content>
